.sec1ImagemNotebook {
    background-image:
        linear-gradient(
            rgba(0, 0, 0, .8),
            rgba(0, 0, 0, .2)),
        url(/source/img/fundoSection1.png);   

    color: white;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 205px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.wraperElementosSuperiores{
    padding: 30px;
}

#h1Sec1 {
    color: white;
}

#btnSec1 {
    color: white;
    background-color: blue;
}