.sec1ImagemNotebook {
    background-image:
        linear-gradient(
            rgba(0, 0, 0, .8),
            rgba(0, 0, 0, .2)),
        url(/source/img/fundoSection1.png);   

    color: white;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 205px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.wraperElementosSuperiores{
    padding: 26px;
    margin:0;
}

#h1Sec1 {
    color: white;
}

#btnSec1 {
    color: white;
    background-color: blue;
}

/*    Celular    */
@media (max-width: 360px) {
}

/*    Tablet    */
@media (min-width: 361px) and (max-width: 768px) {

}

/*     notebook     */
@media (min-width: 769px) and (max-width: 1024px) {
}

/*     PC     */
@media (min-width: 1025px) {
}