/*      *** Formatação GERAL ***      */

.pSection2aFormat {
    padding: 30px 5px;
    text-align:justify;
    width:330px;
}

.sec2ADoisParagrafos{
    padding: 15px;
}


/*    Celular    */
@media (max-width: 360px) {
}

/*    Tablet    */
@media (min-width: 361px) and (max-width: 768px) {
}

/*     notebook     */
@media (min-width: 769px) and (max-width: 1024px) {
}

/*     PC     */
@media (min-width: 1025px) {}
