/*      *** Formatação GERAL ***      */

/* Está desalinhado e com muitos elementos no 360 */

footer {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 50px;
    align-items: end;
}

.pFooter {
    color: gray;
    margin: 15px;
}

footer img {
    width: 100px;
    height: auto;
    margin: 15px;
}